@import "tailwindcss";

.flip-card-inner {
  transition: transform 0.7s cubic-bezier(.4,2,.6,1);
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.flipped {
  transform: rotateY(180deg);
}



@keyframes slide-glow {
  0% {
    left: -60%;
    opacity: 0.2;
  }
  50% {
    left: 60%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.2;
  }
}

@keyframes jump-once {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-30%); }
  40%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.animate-jump-once {
  animation: jump-once 1.5s cubic-bezier(0.4, 0, 0.2, 1) 1;
}


@keyframes typewriter {
  from { width: 0 }
  to { width: 17ch; } /* Adjust 17 to match your text length */
}
@keyframes blinkCaret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #F76C6C; }
}
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #F76C6C;
  width: 0;
  animation:
    typewriter 2.5s steps(17) forwards,
    blinkCaret 0.75s step-end infinite;
}